@import "tailwindcss";

@theme {
  --color-dark-violet: #060841;
  --color-violet: #6339ff;
  --color-light-violet: #e5e5ff;
  --color-light-violet-variant: #c1b5eb;
  --color-text: #646870;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: white;
  color: var(--color-text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}